@import "vars";
@import "fonts";
@import "header";
@import "footer";

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 18px;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.shopping-cart {
  width: 750px;
  max-width: 100%;
  margin: 3.75rem auto;
  padding: 1rem;
  background: #FAFAFA;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 0;
  display: flex;
  flex-direction: column;
  .title{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .item-list{
    min-height: 165px;
    .item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $text-black;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
      transition: all .3s;
      &.remove{
        opacity: 0;
      }
      .item-detail{
        .item-title{
          color: $text-gray;
        }
        .quantity-wrap{
          margin: .2rem 0 .5rem;
          display: flex;
          align-items: center;
          .quantity{
            border: 1px solid $text-black;
            padding: 0.2rem .5rem;
            user-select: none;
            display: flex;
            align-items: center;
            .minus-btn, .plus-btn{
              .icon{
                cursor: pointer;
                width: 10px;
              }
            }
            .quantity-number{
              display: inline-block;
              margin: 0 .5rem;
              transition: all .3s;
              &.change{
                font-weight: bold;
              }
            }
          }
          .price-for-one{
            color: $text-gray;
            margin-left: 1rem;
            &:before{
              content: "x";
              display: inline-block;
              margin-right: .5rem;
            }
          }
        }
        .item-price{
          font-weight: bold;
        }
      }
      .item-image{
        position: relative;
        .delete-btn{
          cursor: pointer;
          position: absolute;
          right: .5rem;
          top: .5rem;
          .icon{
            width: 15px;
            height: 15px;
            color: $text-red;
          }
        }
      }
    }
    .cart-empty-img{
      text-align: center;
      padding: 1rem;
    }
  }
  .cart-additionally{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .quantity-all{
      font-size: .8em;
      color: $text-gray;
    }
    .total-price-count{
      font-weight: bold;
    }
    .quantity-all-title, .total-price-title{
      &:after{
        content: ':';
      }
    }
  }
}

// media
@media(max-width: 1199px) {
  html,
  body {
    font-size: 16px;
  }
}

@media(max-width: 991px) {
  html,
  body {
    font-size: 14px;
  }
}

@media(max-width: 767px) {
  html,
  body {
    font-size: 12px;
  }
}

@media(max-width: 575px) {
  html,
  body {
    font-size: 10px;
  }
}